@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Saira;
  font-weight: 400;
  src: url(/static/fonts/saira/SairaCondensed-Regular.ttf);
}

* {
  /* to remove the blue highlight of button on mobile? */
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
